::selection{
    color: white;
    background: rgb(0, 152, 13);
}
header{
    background-color: aqua;
    font-size: xx-large;
}

.home{
    background: lightsalmon;
    font-size: medium;
    font-family: Lato;
}
.btn{
    border-radius: 10px;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: wheat;
    box-shadow: 0px 9px #999;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(164, 152, 152);
}
.btn:active{
    background-color: rgb(73, 68, 68);
    box-shadow: 0 5px #666;
    transform: translate(4px);
}

.fieldset{
    background-image: url(../images/background.webp)
}

.field{
    background-image: url(../images/fond-texture.webp);
}
.id{
    background-image: url(../images/formulaire-background.webp);
}
